{% extends '::template_back.html.twig' %}

{% block body %}

<h1>Modification</h1>

<div class="row">
    <div class="span8 offset2">
        <form class="form-horizontal" action="{{ path('photo_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <fieldset>
                <legend>Modifier la photo</legend>

                <img src="{{ asset('uploads/photos/') }}{{entity.path}}" alt="{{ entity.title }}" class="img-polaroid span4 offset2">

                {{ form_errors(edit_form) }}

                <div class="control-group">
                    {{ form_label(edit_form.image, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                    <div class="controls">
                        {{ form_widget(edit_form.image, { 'attr': { 'class': 'span4' } }) }}
                    </div>
                    {{ form_errors(edit_form.image) }}
                </div>

                <div class="control-group">
                    {{ form_label(edit_form.title, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                    <div class="controls">
                        {{ form_widget(edit_form.title, { 'attr': { 'placeholder': 'Titre de la photo', 'class': 'span4' } }) }}
                    </div>
                    {{ form_errors(edit_form.title) }}
                </div>

                <div class="control-group">
                    {{ form_label(edit_form.content, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                    <div class="controls">
                        {{ form_widget(edit_form.content, { 'attr': { 'placeholder': 'Description de la photo', 'class': 'span4' } }) }}
                    </div>
                    {{ form_errors(edit_form.content) }}
                </div>

                    {{ form_widget(edit_form._token) }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Modifier</button>
                    <button type="reset" class="btn"><i class="icon-refresh"></i> Vider</button>
                    <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal"><i class="icon-trash icon-white"></i> Supprimer</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Supprimer la photo</h3>
    </div>
    <div class="modal-body">
        <p>Voulez-vous vraiment supprimer cette photo ?</p>
        <p><i class="icon-warning-sign"></i> Attention, ceci est irréversible !</p>
    </div>
    <div class="modal-footer">
        <form action="{{ path('photo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </div>
</div>

{% endblock %}
