{% extends '::template_back.html.twig' %}

{% block body %}

{% set compte = 1 %}

<h1>Photos</h1>

<a href="{{ path('photo_new') }}" class="btn btn-block">
    <i class="icon-plus"></i> Ajouter une photo
</a>

<section class="thumbnails section-photo">

    {% for entity in entities %}

    {%- if compte == 4 -%}
    {% set compte = 1 %}

</section>
<section class="thumbnails section-photo">
    {%- endif -%}

    {% set compte = compte+1 %}

    <article class="span4">
        <div class="thumbnail article-image">
            <h4>{{ entity.title }}</h4>
            <img src="{{ asset('uploads/photos/') }}{{entity.path}}" alt="{{ entity.title }}" />
            <p>{{ entity.content }}</p>
            <p><small><em>{{ entity.created|date('d/m/Y à H:i:s') }}</em></small></p>  
            <a href="{{ path('photo_edit', { 'id': entity.id }) }}" class="btn btn-block" ><i class="icon-edit"></i> Modifier</a>
        </div>  
    </article>

    {% endfor %}

</section>

{% endblock %}