{% extends '::template_back.html.twig' %}

{% block body %}

{% set count = 0 %}
{% set iterator = 0 %}

<h1>Photos</h1>

<p>
    <a href="{{ path('photo_new') }}" class="btn btn-large btn-block btn-primary">
        <i class="icon-plus icon-white"></i> Ajouter une photo
    </a>
</p>

<ul class="thumbnails">

{% for entity in entities %}
     

    {%- if count == 3 -%}
        
        {% set count = 0 %}

</ul>
<ul class="thumbnails">

    {%- endif -%}

    {% set count = count + 1 %}

    <li class="span4">
        <div class="thumbnail">
            <div class="caption">
                <h5>{{ entity.title }}</h5>
            </div>
            <img src="{{ asset('uploads/photos/') }}{{entity.path}}" alt="{{ entity.title }}" width="300" height="200" />
            <div class="caption">
                <p>{{ entity.content }}</p>
                <p><small><em>{{ entity.created|date('d/m à H:i') }}</em></small></p>  
                <p class="text-center">
                    <a href="{{ path('photo_edit', { 'id': entity.id }) }}" class="btn" ><i class="icon-edit"></i> Modifier</a>
                    <a href="#myModal{{ entity.id }}" role="button" class="btn btn-danger" data-toggle="modal"><i class="icon-trash icon-white"></i> Supprimer</a>
                </p>
            </div>
        </div>  
    </li>

    <div id="myModal{{ entity.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Supprimer la photo</h3>
        </div>
        <div class="modal-body">
            <p>Voulez-vous vraiment supprimer cette photo ?</p>
            <p><i class="icon-warning-sign"></i> Attention, ceci est irréversible !</p>
        </div>
        <div class="modal-footer">
            <form action="{{ path('photo_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(attribute(delete_forms, iterator)) }}
                <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    </div>

{% set iterator = iterator + 1 %}

{% else %}

    <h2 class="text-center">Aucunes photos n'ont été publiées pour le moment.</h2>

{% endfor %}

</ul>

{% endblock %}