{% extends '::template_back.html.twig' %}

{% block body %}

<h1>Photo</h1>

<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>{{ entity.title }}</h3>
      <p>{{ entity.path }}</p>
      <span class="badge">{{ entity.created|date('d/m/Y à H:i:s') }}</span>
    </div>
  </li>
</ul>

<ul class="record_actions">
    <li>
        <a href="{{ path('photo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('photo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('photo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}