{% extends '::template_front.html.twig' %}

{% block title %}{{ parent() }} | {{ article.title }}{% endblock %}

{% block description %}Bienvenue sur le site du Pôlecom pour l'Arras Film Festival, vous pourrez lire "{{ article.title }}" écrit par  {{ article.user.name }} {{ article.user.surname }}. {% if(app.request.query.get('page') > 1) %}Page {{app.request.query.get('page')}}{% endif %}{% endblock %}

{% block id %}articlepage{% endblock %}

{% block body %}
<h1 class="grid_12 breadcumb">Article - {{ article.title }}</h1>

<section class="content grid_12">
	<article>
		{{ article.content|raw }}
		<div class="clearfix"></div>
		<p class="info-data">Publié par <span class="info-data-name">{{ article.user.name }} {{ article.user.surname }}</span> pour <span class="info-data-name">{% if(article.user.team == 'polecom') %}le Pôlecom{% else %}Baudimont{% endif %}</span> le {{ article.created|date('d/m à H:i') }} <span class="info-data-right"><a href="{{ path('front_office_articlepage') }}">Retour aux articles</a></span></p>
	</article>
</section>

{% endblock %}