{% extends '::template_back.html.twig' %}

{% block body %}

<div class="row">
	<div class="span12">
		<form class="form-horizontal" action="{{ path('article_create') }}" method="post" {{ form_enctype(form) }}>
		    <fieldset>
		    	<legend>Ajouter un article</legend>

		    	<div class="control-group">
			    	{{ form_label(form.title, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
			    	<div class="controls">
				    	{{ form_widget(form.title, { 'attr': { 'class': 'span4' } }) }}
				    </div>
				</div>

		    	<div class="control-group">
			    	{{ form_label(form.content, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
			    	<div class="controls">
				    	{{ form_widget(form.content, { 'attr': { 'placeholder': 'Votre article.', 'class': 'span12' } }) }}
				    </div>
				</div>

					{{ form_widget(form._token) }}

				<div class="form-actions">
				  	<button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Publier l'article</button>
                    <button type="reset" class="btn"><i class="icon-refresh"></i> Vider</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}