{% extends '::template_back.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="http://vjs.zencdn.net/4.0/video-js.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

{%- if form_errors(edit_form.video) != null -%}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Attention !</strong> {{ form_errors(edit_form.video) }}
</div>
{%- endif -%}


<div class="row">
    <div class="span8 offset2">
        <form class="form-horizontal" action="{{ path('video_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <fieldset>
                <legend>Modifier la vidéo</legend>

                <div class="control-group">
                    <div class="controls">
                        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="290" height="200" data-setup='{{ asset('uploads/videos/') }}{{ entity.path }}'>
                            <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                            <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                            <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                        </video>
                     </div>
                </div>

                <div class="control-group">
                    {{ form_label(edit_form.video, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                    <div class="controls">
                        {{ form_widget(edit_form.video, { 'attr': { 'class': 'span4' } }) }}
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(edit_form.title, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                    <div class="controls">
                        {{ form_widget(edit_form.title, { 'attr': { 'placeholder': 'Titre de la vidéo', 'class': 'span4' } }) }}
                    </div>
                </div>

                    {{ form_widget(edit_form._token) }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Valider les modifications</button>
                    <button type="reset" class="btn"><i class="icon-refresh"></i> Réinitialiser</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
{{ parent() }}

<script src="http://vjs.zencdn.net/4.0/video.js" type="text/javascript"></script>
{% endblock %}
